<app-adminnav></app-adminnav>
<div class="container">
    <div class="row header"><BR>
      <h2>Include physician &nbsp;</h2>
      
    </div>
    <div class="row body">
      <form action="#">
        <ul>
          
          <li>
            <p class="left">
              <label for="first_name">Doctor ID</label>
              <input type="text" name="first_name" placeholder="123" />
            </p>
            <p class="pull-right">
              <label for="name">Name</label>
              <input type="text" name="name" placeholder="Smith" />      
            </p>
          </li>
          
          <li>
            <p>
              <label for="name">Department <span class="req">*</span></label>
              <input type="text" name="name" placeholder="Neurology" />
            </p>
          </li>        
          
          <li>
            <input class="btn btn-submit" type="submit" value="Submit" />
            
          </li>
          
        </ul>
      </form>  
    </div>
  </div>
