.nav-link{
    color: white;
    margin-left: 50px;
    margin-top: 10px;
    /* font-weight: bold; */
    
}
.navbar-brand{
    margin-right: 200px;
}
 /* .custom-button {
    background-color: rgb(51, 147, 226);
    color: white; /* Optionally, set the text color to white for better contrast */
    /* margin-left: 400px;
  } 
  */ 
  
  
  
  
  